---
title: "About"
---

<h2>Career path <a href="#career-path" class="hash" id="career-path">#</a></h2>

<div class="timeline w-100 my-4 d-flex">
	<div class="point">
		<span class="descriptor">Geofilter<br>Studio</span>
		<i data-feather="circle"></i>
		<span class="day">May 2017</span>
	</div>
	<div class="point">
		<span class="descriptor">Graduated<br>Highschool</span>
		<i data-feather="circle"></i>
		<span class="day">June 2018</span>
	</div>
	<div class="point">
		<span class="descriptor">Quit<br>University</span>
		<i data-feather="circle"></i>
		<span class="day">June 2019</span>
	</div>
	<div class="point">
		<span class="descriptor">Software<br>Dev</span>
		<i data-feather="circle"></i>
		<span class="day">September 2019</span>
	</div>
	<div class="point">
		<span class="descriptor">Bodo<br>Health</span>
		<i data-feather="circle"></i>
		<span class="day">March 2020</span>
	</div>
	<div class="point">
		<span class="descriptor">Launched<br>Business</span>
		<i data-feather="circle"></i>
		<span class="day">November 2020</span>
	</div>
	<div class="point">
		<span class="descriptor">Left Mom's<br>Basement</span>
		<i data-feather="circle"></i>
		<span class="day">May 2021</span>
	</div>
	<div class="point">
		<span class="descriptor">New<br>Trajectory</span>
		<i data-feather="circle"></i>
		<span class="day">April 2022</span>
	</div>
</div>

<!--  <div class="w-100 row mb-3 folder">
	<div class="d-flex col-lg-5 col-md-9 align-items-center px-3 py-2 tab">
		<div class="bm-giant-number me-3">01</span>
		Day to day<br>
		My favorite days are regular days
	</div>
	<div class="arm col"></div>
</div>
<div class="w-100 row mb-3 folder">
	<div class="d-flex col-lg-5 col-md-9 align-items-center px-3 py-2 tab">
		<span class="bm-giant-number me-3">02</span>
		Career path<br>
		"Escaping competition through authenticity"
	</div>
	<div class="arm col"></div>
</div>
<div class="w-100 row mb-3 folder">
	<div class="d-flex col-lg-5 col-md-9 align-items-center px-3 py-2 tab">
		<span class="bm-giant-number me-3">03</span>
		Core values<br>
		He who has a why…
	</div>
	<div class="arm col"></div>
</div>
<div class="w-100 row mb-3 folder">
	<div class="d-flex col-lg-5 col-md-9 align-items-center px-3 py-2 tab">
		<span class="bm-giant-number me-3">04</span>
		Education<br>
		Aggressively experiential
	</div>
	<div class="arm col"></div>
</div> -->

<!-- 
<div class="row">
	<div class="col-md-5 col">
		<ul class="list-group list-group-flush">
			<li class="list-group-item list-group-item-action pointer">
				<div class="d-flex align-items-center">
					{% include svgs/clock.html height="auto" width="50%" %}
					<h3 class="d-inline-block w-100 ms-4">Stuff I do</h3>
					<i data-feather="chevron-right" class="bm-icon"></i>
				</div>
			</li>
			<li class="list-group-item list-group-item-action pointer">
				<div class="d-flex align-items-center">
					{% include svgs/path.html height="auto" width="50%" %}
					<h3 class="d-inline-block w-100 ms-4">Career path</h3>
					<i data-feather="chevron-right" class="bm-icon"></i>
				</div>
			</li>
			<li class="list-group-item list-group-item-action pointer">
				<div class="d-flex align-items-center">
					{% include svgs/atom.html height="auto" width="50%" %}
					<h3 class="d-inline-block w-100 ms-4">Core values</h3>
					<i data-feather="chevron-right" class="bm-icon"></i>
				</div>
			</li>
			<li class="list-group-item list-group-item-action pointer">
				<div class="d-flex align-items-center">
					{% include svgs/brain.html height="auto" width="50%" %}
					<h3 class="d-inline-block w-100 ms-4">Education</h3>
					<i data-feather="chevron-right" class="bm-icon"></i>
				</div>
			</li>
		</ul>
	</div>
</div>
 -->