:root {
	--floral-white: #fffcf2;
	--alabaster: #EFEEE6;
	--pale-silver: #ccc5b9;
	--gray-olive: #403d39;
	--eerie-black: #252422;
	--flame: #eb5e28;
	--dark-jungle-green: #1c211c;
	--feldgrau: #4a594a;
	--ash-gray: #a6b5a7;
	--quick-silver: #A9A49E;
}

.fill-feldgrau {
	fill: var(--feldgrau);
	background-color: var(--feldgrau);
}

body {
	font-family: 'DM Sans', sans-serif;
	background-color: var(--floral-white);
}

.pointer {
	cursor: pointer !important;
}

.bm-icon {
	stroke-width: 1px;
	height: 30px;
	width: 30px;
}

.copyright {
	font-size: 12px;
	font-weight: 500;
}

.btn:focus {
	box-shadow: none;
}

#navdot {
	position: fixed;	
	top: 18px;
}
#navdot svg {
	width: 8px;
	height: 8px;
	fill: black;
}

.navdot-move {
	transition: transform 1s;
}
.navdot-move-enter-active, .navdot-move-leave-active {
	display:  none;
}

.modal .modal-content {
	border-radius: 32px;
	border: none;
}

.modal .modal-header {
	padding: 32px 32px 0;
	border-bottom: none;
}

.modal .modal-body, .modal .modal-name {
	padding: 0 72px;
}

.modal .modal-footer {
	padding: 32px 72px;
	border-top: none;
}

.modal svg.close {
	height: 20px;
	width: 20px;
}

.btn {
	line-height: 2;
	border-radius: 16px;
}

.btn-link, .btn-link:hover, .btn-link:active, .btn-link:focus {
	color: var(--feldgrau);
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background-color: var(--feldgrau);
	border-color: var(--feldgrau);
}

.btn-primary {
	box-shadow: 1px 2px 3px 0px var(--dark-jungle-green);
}

.btn-primary:hover, .btn-outline-primary:hover {
	box-shadow: 3px 3px 4px 0px var(--dark-jungle-green);
}

.btn-primary:target, .btn-primary:active, .btn-primary:focus, .btn-outline-primary:target, .btn-outline-primary:active, .btn-outline-primary:focus  {
	box-shadow: inset 2px 2px 5px 0px var(--dark-jungle-green) !important;
	outline: none;
}

.btn-outline-primary {
	color: var(--feldgrau);
	border-color: var(--feldgrau);
}

.btn-outline-primary:hover, .btn-outline-primary:active {
	background-color: var(--feldgrau);
	color: white;
	border-color: var(--feldgrau);
}

.btn-round{
	border-radius: 50%;
	padding-left: 0;
	padding-right: 0;
	width: 50px;
	height: 50px;
}

.floating-input-label {
  box-sizing: border-box;
  padding: 0 16px;
  position: relative;
  width: 100%;
  background-color: #F4F6F4;
  border-radius: 10px;
  cursor: text;
}

.floating-input-label input, .floating-input-label textarea {
	border: none;
	font-size: 16px;
	outline: 0;
	padding: 20px 0 10px;    
	width: 100%;
	background: none;
}

.floating-input-label textarea {
	padding-top: 0;
	margin-top: 20px;
}

.floating-input-label label {
	font-size: 16px;
	position: absolute;
	pointer-events: none;
	transform-origin: top left;
	transform: translate(0, 16px) scale(1); 
	transition: all .1s ease-in-out;
	color: var(--quick-silver);
	cursor: text;
}

.floating-input-label.active {
	background-color: #BCC8BD;
}

.floating-input-label.content label {
	transform: translate(0, 4px) scale(.75);
	color: var(--dark-jungle-green);
}

.modal-backdrop {
	background-color: #1C211C;
}

.modal-backdrop.show {
	opacity: 0.8;
}

.modal-name {
	display: flex;
	min-height: 34px;
	margin-bottom: 24px;
}

.square {
  display: inline-block;
  position: relative;
  width: 100%;
}

.square > *:first-child {
  margin-top: 100%;
  /* 1:1 aspect ratio */
}

.square > *:last-child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bm-link {
	color: var(--feldgrau);
}

.bm-link:hover {
	color:  var(--ash-gray);
}
