body {
	font-family: 'DM Sans', sans-serif;
}

.pointer {
	cursor: pointer !important;
}

.bm-icon {
	stroke-width: 1px;
	height: 30px;
	width: 30px;
}

a:hover .bm-icon {
	color:  var(--bs-primary);
}

.copyright {
	font-size: 12px;
	font-weight: 500;
}

.btn:focus {
	box-shadow: none;
}