<div class="modal" tabindex="-1" id="contact">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down modal-lg">
    <div class="modal-content border-0 fill-white">

      <div class="modal-header border-0 justify-content-end align-items-end">
        <i data-feather="x" class="close pointer" data-bs-dismiss="modal"></i>
      </div>
      
      <div class="modal-name d-flex">
        <h3 class="m-0 ms-lg-auto me-auto">Lets talk.</h3>
        <a href="mailto:{{ site.email }}" class="d-lg-none d-inline"><i data-feather="mail" class="bm-icon primary"></i></a>
        <a href="tel:{{ site.phone }}" class="d-lg-none d-inline ms-2"><i data-feather="phone" class="bm-icon primary"></i></a>
      </div>
      
      <div class="row m-0">
        
        <div class="col pe-lg-3 px-0">
          <div class="modal-body d-flex flex-column pe-lg-0">
            <div class="bm-floating-input-label mb-3">
              <label for="classic-contact-name">Name</label>
              <input type="text" email="name" id="classic-contact-name">
            </div>
            <div class="bm-floating-input-label mb-3">
              <label for="classic-contact-email">Email / Phone</label>
              <input type="email" name="email" id="classic-contact-email">
            </div>
            <div class="bm-floating-input-label h-100">
              <label for="classic-contact-email">Message</label>
              <textarea name="message" id="class-contact-message" rows="5"></textarea>
            </div>
          </div>
          <div class="modal-footer border-0 justify-content-center mt-auto pb-5 pb-lg-0 pe-lg-0">
            <button type="button" class="btn btn-link bm-link" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn bm-btn-primary px-5">Send</button>
          </div>
        </div>

        <div class="col-lg-6 d-lg-flex d-none text-center ps-3 pe-0 flex-column">
          <div class="modal-body d-flex ps-0 flex-column justify-content-between">
            {% include svgs/envelope.html height="60%" width="100%" %}
            <div class="card fill-white border-dark mt-3">
              <div class="card-body">
                <div class="text-start primary">
                  <i data-feather="map-pin" class="bm-icon tiny me-2"></i><span>Winnipeg, CA</span><br>
                  <i data-feather="phone" class="bm-icon tiny me-2"></i><a class="bm-link" href="tel:{{ site.phone }}">{{ site.display_phone }}</a><br>
                  <i data-feather="mail" class="bm-icon tiny me-2"></i><a class="bm-link" href="mailto:{{ site.email }}">{{ site.email }}</a>
                </div>
              </div>
            </div>       
          </div>
          <div class="modal-footer border-0 ps-0 justify-content-center mt-auto pb-lg-0">
            <a class="btn bm-btn-outline-primary bm-icon-btn mx-1" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><i data-feather="linkedin" class="bm-icon"></i></a>
            <a class="btn bm-btn-outline-primary bm-icon-btn mx-1" href="https://instagram.com/{{ site.instagram_username }}" target="_blank"><i data-feather="instagram" class="bm-icon"></i></a>
            <a class="btn bm-btn-outline-primary bm-icon-btn mx-1" href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i data-feather="twitter" class="bm-icon"></i></a>
          </div>
        </div>

      </div>

      <div class="modal-footer border-0 p-0 p-lg-4"></div>

    </div>
  </div>
</div>

