<div class="fixed-bottom d-flex align-items-end px-md-5 px-2 py-md-5 py-2">
	<div class="d-flex flex-column w-auto">
		<a class="footer-social-button mb-2 text-black" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><i data-feather="linkedin" class="bm-icon"></i></a>
		<a class="footer-social-button mb-2 text-black" href="https://instagram.com/{{ site.instagram_username }}" target="_blank"><i data-feather="instagram" class="bm-icon"></i></a>
		<a class="footer-social-button mb-2 text-black" href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i data-feather="twitter" class="bm-icon"></i></a>
		<a class="footer-social-button text-black" href="https://github.com/{{ site.github_username }}" target="_blank"><i data-feather="github" class="bm-icon"></i></a>
	</div>
	<small class="ms-auto text-uppercase text-end m-0">
		Copr. {{ 'now' | date: "%Y" }} Ben MacPherson<br>
		All rights reserved
	</small>
</div>
