<div class="d-flex flex-column px-md-5 px-sm-4 px-2 me-md-5 me-sm-4 me-2 mb-sm-4 mb-3 bm-sidebar">
	<h1 class="text-uppercase mt-2 mb-auto">{{ page.title }}</h1>
	<a class="footer-social-button mb-2 dark" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><i data-feather="linkedin" class="bm-icon"></i></a>
	<a class="footer-social-button mb-2 dark" href="https://instagram.com/{{ site.instagram_username }}" target="_blank"><i data-feather="instagram" class="bm-icon"></i></a>
	<a class="footer-social-button mb-2 dark" href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i data-feather="twitter" class="bm-icon"></i></a>
	<a class="footer-social-button mb-2 dark" href="https://github.com/{{ site.github_username }}" target="_blank"><i data-feather="github" class="bm-icon"></i></a>
</div>